<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common :: head">
</head>
<body>
<div th:replace="common :: header"></div>

<main class="container">
    <header>
        <h1>GitLab Feature Flags Demo</h1>
    </header>
    <p>
        このアプリは <a href="https://docs.gitlab.com/ee/operations/feature_flags.html">GitLab Feature Flags</a> のデモのためのアプリです。<a
            th:href="@{/survey}">アンケートに答える</a>ページのアンケートを提出するボタンの外観を GitLab Feature Flags で切り替えています。
    </p>
    <table th:if="${!environments.isEmpty}" class="table">
        <caption class="figure-caption">Feature Flags 設定</caption>
        <thead>
        <tr>
            <th>Feature Flags</th>
            <th>環境</th>
            <th>ユーザー</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th rowspan="2" style="vertical-align: middle;">survey-emphasize-button</th>
            <td>development</td>
            <td>全員有効</td>
            <td>
                <a href="https://gitlab-ff-demo-dev.azurewebsites.net/">https://gitlab-ff-demo-dev.azurewebsites.net/</a>
            </td>
        </tr>
        <tr>
            <td>production</td>
            <td>User1 のみ有効</td>
            <td>
                <a href="https://gitlab-ff-demo-prod.azurewebsites.net/">https://gitlab-ff-demo-prod.azurewebsites.net/</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

<div th:replace="common :: footer"></div>
</body>
</html>